# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Build / packaging
build/
dist/
*.egg-info/

# Octave / MATLAB
*.asv
*.m~
.Octave_hist

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db


